<button class="btn btn-warning mt-3" (click)="AgregarAnimal = !AgregarAnimal"
(click)="OcultarMensaje()"> Mostar/Ocultar agregado de animales</button>


<div class="container mt-3" *ngIf="AgregarAnimal">

    <div class="container" *ngIf="AnimalAgregado">

        <h3>Animal Agregado Correctamente</h3>
    
    </div>

    <form>
        <div class="row">

        <div class="mb-3 col-4">
          <label for="NomAnimal" class="form-label">Nombre</label>
          <input [formControl]="Nombre" type="text" class="form-control" id="NomAnimal" required >
        </div>
        <div class="mb-3 col-4" >
          <label for="TipoAnimal" class="form-label">Tipo</label>
          <input [formControl]="Tipo" type="text" class="form-control" id="TipoAnimal" required >
        </div>
        <div class="mb-3 col-4" >
            <label for="EspecieAnimal" class="form-label">Especie</label>
            <input [formControl]="Especie" type="text" class="form-control" id="EspecieAnimal" required >
        </div>
        </div>

        <div class="row">

            <div class="mb-3 col-3">
              <label for="PaisAnimal" class="form-label">PaisOrigen</label>
              <input [formControl]="PaisOrigen" type="text" class="form-control" id="PaisAnimal" required>
            </div>
            <div class="mb-3 col-3" >
              <label for="ZonasAnimal" class="form-label">ZonasDondeHabitan</label>
              <input [formControl]="ZonasDondeHabitan" type="text" class="form-control" id="ZonasAnimal" required>
            </div>
            <div class="mb-3 col-3" >
                <label for="AlimentacionAnimal" class="form-label">Alimentacion</label>
                <input [formControl]="Alimentacion" type="text" class="form-control" id="AlimentacionAnimal" required>
            </div>
             <div class="mb-3 col-1" >
                <label for="EdadAnimal" class="form-label">Edad</label>
                <input [formControl]="Edad" type="number" class="form-control" id="EdadAnimal" required> 
            </div>
        </div>

        <div class="row">

            <div class="mb-3 input-group" >
                <label for="ImagAnimal" class="form-label">Nombre Imagen </label>
                <input [formControl]="URLfoto" type="text" class="form-control" id="ImagAnimal"
                placeholder="Nombre Imagen" required>
                <span class="input-group-text">. JPG</span>
            </div>
        </div>

        <button type="submit" class="btn btn-success" (click)="AgregarA()" 
        (click)="AnimalAgregado = !AnimalAgregado">Agregar Animal</button>

      </form>

</div>

<div>

    <div class="d-flex justify-content-center" *ngIf="Carga">
            <h4>Cargando Imagenes, por favor espere</h4>
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
    </div>



<div class="container mt-3 text-center" *ngFor="let animal of Animal, index as i">

    <div class="row">

        <div class="col-1 mt-2">

            <img src="assets\Imagenes\Animales/{{animal.URLfoto}}.jpg" alt="...">

        </div>

        <div class="col-7">

            <h3> Nombre :  {{animal.Nombre}}</h3>
            <h5> Tipo :    {{animal.Tipo}}</h5>
            <h5> Especie : {{animal.Especie}}</h5>

        </div>

        <div class="col-3">


            <button (click)="VerAnimal(i)" type="button" class="mx-4 btn btn-info" data-bs-toggle="modal" data-bs-target="#AnimalModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info" viewBox="3 3 16 16" >
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
            </button>

            <button class="mx-4 btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil text-dark" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
            </button>

            <button class="btn btn-danger"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill text-warning" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="AnimalModal" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion completa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5> Nombre : {{unAnimal.Nombre}}</h5>
        <h5> Tipo :    {{unAnimal.Tipo}}</h5>
        <h5> Especie : {{unAnimal.Especie}}</h5>
        <h5> Nacimiento :  {{unAnimal.PaisOrigen}}</h5>
        <h5> Zonas donde vive :    {{unAnimal.ZonasDondeHabitan}}</h5>
        <h5> Alimentacion : {{unAnimal.Alimentacion}}</h5>
        <h5> Edad :  {{unAnimal.Edad}} años</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

</div>


