<div class="container text-center">
    
    <h1>Bienvenido a ZooPark</h1>
    
    <h5 class="text-info">El mejor lugar para pasar una tarde inolvidable con tu Familia y/o Amigos</h5>
    
</div>

<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink] = "['/contacto']">Contacto</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <li class="nav-item dropdown">
            <a class="navbar-brand"  id="navbarDropdown" role="button"  data-bs-toggle="dropdown" 
            aria-expanded="false">
              Animales
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Mamiferos</a></li>
              <li><a class="dropdown-item" href="#">Acuaticos</a></li>
              <li><a class="dropdown-item" href="#">Reptiles</a></li>
              <li><a class="dropdown-item" href="#">Aves</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink] = "['/Animales']">Todos</a></li>
            </ul>
          </li>

          <div class="collapse navbar-collapse" id="GaleriaNav">
            <a class="navbar-brand" [routerLink] = "['/galeria']" >Galeria</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

          <div class="mx-5">

            <li class="nav-item dropdown">
              <a class="navbar-brand"  id="navbarDropdown" role="button"  data-bs-toggle="dropdown" 
              aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown">
                <form>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Usuario">
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control" placeholder="clave">
                  </div>
                  <div class="text-center">
                  <button type="submit" class="btn btn-primary ">Ingresar</button>
                  </div>
                  <h6 class="mt-1">Soy <a [routerLink]="['/NewUsuario']">Nuevo</a></h6> 
                  <h6 class="mt-1">Olvide mi <a href="#">Clave</a></h6>  
                </form>
              </ul>
      
            </li>
          </div>


        </div>


       
      </nav>

</div>

