<div class="container text-center">
    
    <h1>Bienvenido a ZooPark</h1>
    
    <h5 class="text-info">El mejor lugar para pasar una tarde inolvidable con tu Familia y/o Amigos</h5>
    
</div>

<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand " href="#">Contacto</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="GaleriaNav">
            <a class="navbar-brand" href="#">Galeria</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </nav>

</div>
